<body>
<h1>get name from the model from handler -  {{name}}</h1>
<form method="post" class="form-horizontal">

<input type="text" class="form-control" name="email" placeholder={{name}}>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>
</form>
</body>